In [1]:
 # Convert an integer to a floating-point number.
a= 45
print(float(a))

45.0

In [2]:
# Convert a float to an integer.
c=67.05
print(int(c))

67

In [4]:
# Convert an integer to a string.
s=23
s=str(s)
print(s)

23

In [7]:
# Convert a list to a tuple.
l=[1,2,3,4,5,6,7,8]
print(tuple(l))

(1, 2, 3, 4, 5, 6, 7, 8)

In [8]:
# Convert a tuple to a list.
T=(1,2,3,4,5,6,7,8)
print(list(T))

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
# Convert a decimal number to binary.
Decimal_number=45
print(bin(Decimal_number))

0b101101

In [ ]:
# Convert a non-zero number to boolean.
b=float(input("Enter a non-zero number: "))
if (b>0 or b<0):
   print(bin(b))